body
{
	background-image: url("logo.png");
	background-repeat: repeat;
    background-size: 23%;
	background-color: #e6ccff	
}
@media screen and (min-width: 1000px)
{
	body{
	background-color: #ccffff;}
}
h1
{
	text-align:center;
	text-transform: uppercase;
	background-color: white;
	border: solid black;
    margin: 50px 250px 50px 250px;
}
div
{
	text-align:left;
	border: solid;
	padding: 10px;
	background-color:white;
	color: #734d26;
	font-size:80%;
	font-family:"Comic Sans MS";
}
p
{
	text-align:left;
	border: solid;
	padding: 10px;
	background-color:#734d26;
	color: #ffff99;
	font-size:130%;
	font-family:"Comic Sans MS";
}
button
{
	width: 10%;
	height:5%;
	color: black;
	background-color:734d26;
	font-family:"Comic Sans MS";
	float:right;
}